.image {
  width: auto;
  min-height: 1000px;
  background-image: image-url("roadtrip.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.show{
  width: 390px;
  height: 844px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
